LIVEKIT_URL=ws://127.0.0.1:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret
GOOGLE_API_KEY= "AIzaSyAeDbTHa9mC4xe-Mpy06VA6WCzrcBYuvkc"
MURF_API_KEY= "ap2_b9e5d262-2154-427b-905a-0fe120c88e7a"
DEEPGRAM_API_KEY= "49750d175aba1dc83740db0bec314ac8efcf4ed0"